{#**
  * PrestaShop Module - pitticafeed
  *
  * Copyright 2022 Pittica S.r.l.
  *
  * @category  Module
  * @package   Pittica\PrestaShop\Module\Feed
  * @author    Lucio Benini <info@pittica.com>
  * @copyright 2022 Pittica S.r.l.
  * @license   http://opensource.org/licenses/LGPL-3.0  The GNU Lesser General Public License, version 3.0 ( LGPL-3.0 )
  * @link      https://github.com/pittica/prestashop-feed
  *#}

<div class="row mt-4">
  <div class="col text-center">
    <a href="https://pittica.com" title="Powered by Pittica" target="_new">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 595.28 297.64" width="209" height="104">
        <path d="M179.56,83.15h31q14.05,0,20,9.07t6,26.53q0,17.46-5.32,26.32t-19.09,8.87h-9.55v46.38H179.56ZM204,132.8c2.82,0,4.89-.53,6.21-1.57a7.48,7.48,0,0,0,2.59-4.5,43.59,43.59,0,0,0,.61-8.39q0-7.36-1.63-10.64c-1.09-2.18-3.28-3.27-6.55-3.27h-2.59V132.8Zm41.38,67.52V83.15H268V200.32Zm45.49,0V105.65H276.92V83.15h51.29v22.5H314.3v94.67Zm59.85,0V105.65H336.78V83.15h51.29v22.5H374.16v94.67Zm46.17,0V83.15h22.65V200.32Zm39.64-7q-7.71-8-7.7-22.1v-54q0-17.46,6.95-26.33t21.83-8.86q12.94,0,20.87,7.09t7.91,20.46V129.8H463V112.47q0-5-1.23-7c-.81-1.28-2.22-1.91-4.22-1.91s-3.53.73-4.3,2.18a14,14,0,0,0-1.16,6.41V171c0,3.09.45,5.34,1.37,6.75a4.53,4.53,0,0,0,4.09,2.12q5.44,0,5.45-8.87V149.85h23.6V172q0,29.46-29.6,29.46Q444.21,201.41,436.5,193.36Zm56.44,7L504.26,83.15H544l11.19,117.17H532.9l-1.63-19H517.08l-1.36,19Zm25.91-37.65h10.64l-5.18-59.61h-1.09Z" fill="#1d1d1d"/>
        <path d="M116.54,115.15l-5.74,10H85.12L98,147.45l-5.76,10L67.86,115.15Zm8.52,10h23.55l-31.79,55.35L105,160l-5.83,10.14,17.61,30.62,49.29-85.63H130.89ZM107.6,153.54,89.43,185.13,40.14,99.42H76.49l5.82,10H57.64l31.79,55.43,12.34-21.44Zm13.53-44.14-12.28,21.35,5.76,10,23.78-41.34H90.82l5.75,10ZM93.06,126.34h11.68l12.79,22.24,12.8-22.24H142l-24.47,42.54Zm4.7-12.4-12-20.87h63.56l-12,20.87h11.54l17.75-30.86H68.47l17.75,30.86Z" fill="#cc151a"/>
      </svg>
    </a>
  </div>
</div>
