{#**
  * PrestaShop Module - pitticafeed
  *
  * Copyright 2022 Pittica S.r.l.
  *
  * @category  Module
  * @package   Pittica\PrestaShop\Module\Feed
  * @author    Lucio Benini <info@pittica.com>
  * @copyright 2022 Pittica S.r.l.
  * @license   http://opensource.org/licenses/LGPL-3.0  The GNU Lesser General Public License, version 3.0 ( LGPL-3.0 )
  * @link      https://github.com/pittica/prestashop-feed
  *#}

{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  {% block quotes_list_panel %}
    <div class="row">
      <div class="col">
        {% include '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with {'grid': quoteGrid} %}
      </div>
    </div>
  {% endblock %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('themes/default/js/bundle/pagination.js') }}"></script>
{% endblock %}